.header{
    background: darkgreen;
    width: 100%;
    height: 150px;
    padding-left: 50px;

}
.login{
    width: 100px;
    margin-top: 100px;
}
.logo-text{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
  
}
